name: GitHub Metrics

on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: AntnheD
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Africa/Addis_Ababa
          filename: github-metrics.svg
          output_action: commit
          committer_branch: main
          committer_message: "chore: update metrics"
          
          # Aesthetic
          config_display: large
          config_padding: 0, 5%
          
          # Calendar
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
          # Languages
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_colors: github
          plugin_languages_details: lines, bytes-size, percentage
          
          # Achievements
          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_achievements_display: detailed
          plugin_achievements_secrets: yes
          
          # Habits
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          
          # Lines of code
          plugin_lines: yes
          
          # Stargazers
          plugin_stargazers: yes
          plugin_stargazers_charts_type: classic

